EXPO_PUBLIC_API_BASE_URL=http://192.168.68.69:8000/
EXPO_PUBLIC_TOKEN_PATH=/auth/token
EXPO_PUBLIC_DEPOSITOS_PATH=/depositos
EXPO_PUBLIC_STOCK_PATH=/stock/search
EXPO_PUBLIC_TOKEN_REFRESH_SECONDS=900
